---
import Layout from "../layouts/Layout.astro";
---

<Layout title="O nas">
  <section
    class="mb-8 rounded-xl p-6 bg-base-200 flex flex-col items-center mx-auto max-w-2xl"
  >
    <h2 class="text-2xl font-semibold mb-4 text-center text-primary">
      Kim jesteśmy?
    </h2>
    <p>
      Jesteśmy pasjonatami CS 1.6, którzy prowadzą sieć serwerów z myślą o
      graczach.
    </p>
    <p>Tworzymy stabilne, uczciwe i dobrze zarządzane środowisko do gry.</p>

    <h2 class="text-2xl font-semibold mb-4 text-center mt-10 text-primary">
      Dlaczego warto nam zaufać?
    </h2>
    <p class="mb-4 text-center">
      Dbamy o każdy szczegół, abyś mógł cieszyć się grą bez zakłóceń. Nasze
      serwery działają stabilnie i są regularnie monitorowane, by zapewnić
      najlepsze doświadczenie.
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-center mt-6 text-primary">
      Nasze wartości
    </h2>
    <p class="mb-4 text-center">
      Przejrzystość, uczciwość i pasja do CS 1.6 to fundamenty, na których
      budujemy społeczność. Zależy nam na twoim pozytywnym doświadczeniu i
      uczciwej rywalizacji.
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-center mt-6 text-primary">
      Doświadczenie i zaangażowanie
    </h2>
    <p class="mb-4 text-center">
      Od lat działamy w środowisku CS, znamy potrzeby graczy i stale rozwijamy
      nasze serwery, by spełniały najwyższe standardy jakości.
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-center mt-6 text-primary">
      Bezpieczeństwo i stabilność
    </h2>
    <p class="mb-4 text-center">
      Stosujemy nowoczesne rozwiązania, aby zapewnić płynną rozgrywkę oraz
      ochronę przed oszustwami i atakami.
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-center mt-6 text-primary">
      Społeczność graczy
    </h2>
    <p class="text-center">
      Tworzymy miejsce, gdzie każdy gracz jest szanowany. Wspólnie budujemy
      atmosferę fair play i wzajemnego wsparcia.
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-center mt-10 text-primary">
      Model działania
    </h2>
    <p class="text-center">
      Serwery utrzymywane są z dobrowolnych wpłat od użytkowników. W ramach
      podziękowania za darowiznę możliwe jest przyznanie rangi VIP w grze.
    </p>
  </section>
</Layout>
